---
import PlantillaBasica from "../layouts/plantillaBasica.astro";
import Header from "../components/header.astro";
---

<PlantillaBasica titulo="Sobre mi" >
<Header />

<a href="/">Principal</a>


</PlantillaBasica>