---
import PlantillaBasica from "../layouts/plantillaBasica.astro";
import Header from "../components/header.astro";
import Main from "../components/main.astro"
import Footer from "../components/footer.astro";
import Hero from "../components/hero.astro";
console.log("Hola")

---

<PlantillaBasica titulo="Home" descripcion="La pagina que te dice que día sería si..." >

  <Header />
  <Main >
    <Hero />
  </Main>
  <Footer />

</PlantillaBasica>

