---
import PlantillaBasica from "../layouts/plantillaBasica.astro";
import Header from "../components/header.astro";
import Main from "../components/main.astro"
import Footer from "../components/footer.astro";
import Hero from "../components/hero.astro";
const titulo = "Calendario Mundial"
const descripcion = "Web para la promoción del Calendario Mundial"
---

<PlantillaBasica titulo={titulo} descripcion={descripcion} >
  <Header />
  <Main >
    <Hero />
  </Main>
  <Footer />
</PlantillaBasica>

