---
---
<footer class="footer">
      <p>Web creada por Antonio Fuentes</p>
</footer>

<style>
  .footer {
  background-color: #8b008b;
  height: 10rem;
  width: 100%;
  display: flex;
  p {
    margin: auto;
  }
}
</style>