---
---

<header class="header">
        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li">
                    <a class="active" href="#historia">Historia</a>
                </li>
                <li class="header__li">
                    <a href="#ventajas">Ventajas</a>
                </li>
                <li class="header__li">
                    <a href="#cont">Calendario</a>
                </li>
            </ul>
        </nav>
    </header>

    <style>
      .header {
  background-color: #8b008b;
  color: #f9f9f9;
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.header__ul {
  display: flex;
  color: #f9f9f9;
  gap: 1rem;
  margin-right: 3rem;

}

.header__li {
  list-style: none;
  a {
  color: #f9f9f9;
  font-family: "Playfair Display";
  font-family: "Playfair Display";
  text-decoration: none;
}}
    </style>