---
const { mesUno, mesDos, mesTres } = Astro.props
---

 <section class="mes-container-chico">
          <table class="mes-chico">
            <caption class="nombre-mes-chico">
              {mesUno}
            </caption>
            <thead>
              <tr class="semana-chico">
                <th class="dia-semana-chico">L</th>
                <th class="dia-semana-chico">M</th>
                <th class="dia-semana-chico">M</th>
                <th class="dia-semana-chico">J</th>
                <th class="dia-semana-chico">V</th>
                <th class="dia-semana-chico">S</th>
                <th class="dia-semana-chico">D</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td><div class="dia-mes-chico">1</div></td>
                <td><div class="dia-mes-chico">2</div></td>
                <td><div class="dia-mes-chico">3</div></td>
                <td><div class="dia-mes-chico">4</div></td>
                <td><div class="dia-mes-chico">5</div></td>
                <td><div class="dia-mes-chico">6</div></td>
                <td><div class="dia-mes-chico">7</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">8</div></td>
                <td><div class="dia-mes-chico">9</div></td>
                <td><div class="dia-mes-chico">10</div></td>
                <td><div class="dia-mes-chico">11</div></td>
                <td><div class="dia-mes-chico">12</div></td>
                <td><div class="dia-mes-chico">13</div></td>
                <td><div class="dia-mes-chico">14</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">15</div></td>
                <td><div class="dia-mes-chico">16</div></td>
                <td><div class="dia-mes-chico">17</div></td>
                <td><div class="dia-mes-chico">18</div></td>
                <td><div class="dia-mes-chico">19</div></td>
                <td><div class="dia-mes-chico">20</div></td>
                <td><div class="dia-mes-chico">21</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">22</div></td>
                <td><div class="dia-mes-chico">23</div></td>
                <td><div class="dia-mes-chico">24</div></td>
                <td><div class="dia-mes-chico">25</div></td>
                <td><div class="dia-mes-chico">26</div></td>
                <td><div class="dia-mes-chico">27</div></td>
                <td><div class="dia-mes-chico">28</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">29</div></td>
                <td><div class="dia-mes-chico">30</div></td>
                <td><div class="dia-mes-chico">31</div></td>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="mes-container-chico">
          <table class="mes-chico">
            <caption class="nombre-mes-chico">
              {mesDos}
            </caption>
            <thead>
              <tr class="semana-chico">
                <th class="dia-semana-chico">L</th>
                <th class="dia-semana-chico">M</th>
                <th class="dia-semana-chico">M</th>
                <th class="dia-semana-chico">J</th>
                <th class="dia-semana-chico">V</th>
                <th class="dia-semana-chico">S</th>
                <th class="dia-semana-chico">D</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
                <td><div class="dia-mes-chico">1</div></td>
                <td><div class="dia-mes-chico">2</div></td>
                <td><div class="dia-mes-chico">3</div></td>
                <td><div class="dia-mes-chico">4</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">5</div></td>
                <td><div class="dia-mes-chico">6</div></td>
                <td><div class="dia-mes-chico">7</div></td>
                <td><div class="dia-mes-chico">8</div></td>
                <td><div class="dia-mes-chico">9</div></td>
                <td><div class="dia-mes-chico">10</div></td>
                <td><div class="dia-mes-chico">11</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">12</div></td>
                <td><div class="dia-mes-chico">13</div></td>
                <td><div class="dia-mes-chico">14</div></td>
                <td><div class="dia-mes-chico">15</div></td>
                <td><div class="dia-mes-chico">16</div></td>
                <td><div class="dia-mes-chico">17</div></td>
                <td><div class="dia-mes-chico">18</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">19</div></td>
                <td><div class="dia-mes-chico">20</div></td>
                <td><div class="dia-mes-chico">21</div></td>
                <td><div class="dia-mes-chico">22</div></td>
                <td><div class="dia-mes-chico">23</div></td>
                <td><div class="dia-mes-chico">24</div></td>
                <td><div class="dia-mes-chico">25</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">26</div></td>
                <td><div class="dia-mes-chico">27</div></td>
                <td><div class="dia-mes-chico">28</div></td>
                <td><div class="dia-mes-chico">29</div></td>
                <td><div class="dia-mes-chico">30</div></td>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
              </tr>
            </tbody>
          </table>
        </section>
        <section class="mes-container-chico">
          <table class="mes-chico">
            <caption class="nombre-mes-chico">
              {mesTres}
            </caption>
            <thead>
              <tr class="semana-chico">
                <th class="dia-semana-chico">L</th>
                <th class="dia-semana-chico">M</th>
                <th class="dia-semana-chico">M</th>
                <th class="dia-semana-chico">J</th>
                <th class="dia-semana-chico">V</th>
                <th class="dia-semana-chico">S</th>
                <th class="dia-semana-chico">D</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
                <td class="dia-mes-vacio"></td>
                <td><div class="dia-mes-chico">1</div></td>
                <td><div class="dia-mes-chico">2</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">3</div></td>
                <td><div class="dia-mes-chico">4</div></td>
                <td><div class="dia-mes-chico">5</div></td>
                <td><div class="dia-mes-chico">6</div></td>
                <td><div class="dia-mes-chico">7</div></td>
                <td><div class="dia-mes-chico">8</div></td>
                <td><div class="dia-mes-chico">9</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">10</div></td>
                <td><div class="dia-mes-chico">11</div></td>
                <td><div class="dia-mes-chico">12</div></td>
                <td><div class="dia-mes-chico">13</div></td>
                <td><div class="dia-mes-chico">14</div></td>
                <td><div class="dia-mes-chico">15</div></td>
                <td><div class="dia-mes-chico">16</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">17</div></td>
                <td><div class="dia-mes-chico">18</div></td>
                <td><div class="dia-mes-chico">19</div></td>
                <td><div class="dia-mes-chico">20</div></td>
                <td><div class="dia-mes-chico">21</div></td>
                <td><div class="dia-mes-chico">22</div></td>
                <td><div class="dia-mes-chico">23</div></td>
              </tr>
              <tr>
                <td><div class="dia-mes-chico">24</div></td>
                <td><div class="dia-mes-chico">25</div></td>
                <td><div class="dia-mes-chico">26</div></td>
                <td><div class="dia-mes-chico">27</div></td>
                <td><div class="dia-mes-chico">28</div></td>
                <td><div class="dia-mes-chico">29</div></td>
                <td><div class="dia-mes-chico">30</div></td>
              </tr>
            </tbody>
          </table>
        </section>

        <style>
          
.mes-container-chico {
  width: 20%;
  margin-top: 10px;
  position: relative;
}
@media (max-width: 768px) {
  .mes-container-chico {
    width: auto;
  }
}
.mes-chico {
  border-spacing: -1px;
}

.mes-chico tbody {
  background-color: white;
}

.nombre-mes-chico {
  background-color: #8b008b;
  color: white;
}

.semana-chico {
  background-color: #f9f9f9;
  color: #8b008b;
}
.dia-semana-chico {
  font-size: 0.9rem;
}

.dia-mes-chico {
  text-align: center;
  margin-top: 0.01rem;
  margin-left: 0.02rem;
  margin-right: 0.02rem;

  font-size: 0.8rem;
  font-weight: 1000;
  padding: 0.1rem;
}
.dia-mes-vacio {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  margin: 0;
  border: red;
}
.celda-externa {
  position: absolute;
  bottom: 5%; /* Alineado al final de la tabla */
  right: -8rem; /* Colócala al lado derecho de la tabla */
  font-size: 0.8rem;
  background-color: #8b008b;
  color: #f9f9f9;
  padding: 0.1rem;
  text-align: center;
  width: 0.9rem; /* Opcional: controla el tamaño */
}
.celda-externa-dos {
  position: absolute;
  bottom: 5%; /* Alineado al final de la tabla */
  right: -8rem; /* Colócala al lado derecho de la tabla */
  font-size: 0.8rem;
  background-color: #8b008b;
  color: #f9f9f9;
  padding: 0.1rem;
  text-align: center;
  width: 0.9rem; /* Opcional: controla el tamaño */
}

.celda-externa-dos.oculto {
  position: absolute;
  bottom: 5%; /* Alineado al final de la tabla */
  right: -8rem; /* Colócala al lado derecho de la tabla */
  font-size: 0.8rem;
  background-color: #8b008b;
  color: #f9f9f9;
  padding: 0.1rem;
  text-align: center;
  width: 0.9rem; /* Opcional: controla el tamaño */
  display: none;
}
.calendario {
  width: 90%;
  height: 100vh;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 0.9fr);
  gap: 1rem;
  justify-self: center;
}

.mes-container {
  margin: 5rem;
  margin-left: 5rem;
  width: 100%;
  height: 40%;
  justify-self: center;
}
.mes {
  table-layout: fixed;
  width: 100%;
  height: 100%;
}
.semana {
  background-color: #8b008b;
}

.dia-semana {
  border-color: #8b008b;
  font-size: 0.9rem;
}

.dia-mes {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  font-size: 1rem;
}
        </style>